VITE_FIREBASE_API_KEY=AIzaSyDh8FiXf5azyvxkIhjIa3vaanXLRyw55Ps
VITE_FIREBASE_AUTH_DOMAIN=karan-jewelery.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=karan-jewelery
VITE_FIREBASE_STORAGE_BUCKET=karan-jewelery.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=456052651192
VITE_FIREBASE_APP_ID=1:456052651192:web:bb3fd8e79413ea4ac5f04d
VITE_FIREBASE_MEASUREMENT_ID=G-WPBJ33J8WL

# Cloudinary frontend upload (unsigned preset)
VITE_CLOUDINARY_CLOUD_NAME=dbjsz5tes
VITE_CLOUDINARY_UPLOAD_PRESET=jwelery_unsigned

# Cloudinary account keys (server-side/safe storage only)
CLOUDINARY_KEY_NAME=jewelery
CLOUDINARY_API_KEY=682587916979824
CLOUDINARY_API_SECRET=replace_with_api_secret
